h1 {
	color: red;
	text-transform: uppercase;
}


* {
	scroll-behavior: smooth;
}




.text {
	background-color: grey;
	color: white;
	width: fit-content;
	padding: 0.5em 2em;
	transition: 5s;
}

.text[data-active=true] {
	background-color: green;
	font-size: 30px;
	border-radius: 100px;
}

.text[data-active=false] {
	background-color: black;
}

section {
	height: 80vh;
	background-color: rgb(194, 29, 209);
	margin: 10px 0;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
	letter-spacing: 0.1em;
	align-content: center;
	text-align: center;
}


section:nth-child(odd) {
	background-color: silver;
	color: black;
}

.top-btn {
	position: fixed;
	bottom: 5%;
	right: 5%;

	font-size: 60px;
	width: 0.8em;
	height: 1.2em;
	background-color: orange;
	color: black;
	text-align: center;
	align-content: center;
	text-decoration: none;
	cursor: pointer;

}