body {
	background-color: rgba(253, 253, 253, 0.808);
	color: rgb(0, 0, 0);
	font-weight: 600;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	background: url('./images/rose.jpg');
}


h1 {
	color: rgb(0, 0, 0);
}


.ata {
	width: 200px;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 35px;
	object-position: center top;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
	;
}

a:hover {
	text-decoration: underline;

	a:active {
		color: red;
	}
}

a {
	text-decoration: none;
}

a:visited {
	color: grey;
}

.info {
	font-style: italic;
	color: black;
	text-transform: uppercase;
	letter-spacing: 7px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}


.container {
	max-width: 750px;
	margin: auto;
}

.social {
	padding: 5px;
	border: 2px solid black;
	background: orange;
}

.card {
	padding: 15px 15px;
	background: rgb(168, 134, 134);
	border-radius: 20px;
	list-style: none;
}

.bg-yellow {
	background: #fff9dc;
}

.bg-green {
	background: #e5ffe7;
}

.bg-red {
	background: #ffe5e5;
}

.info h4 {
	margin-bottom: 20px;
}



.contact h2 {
	text-align: center;
}


.form-group label {
	display: block;
	size: 14px
}

.form-group input {
	width: 200px;
	box-sizing: border-box;
	color: black;
}



.preview {
	display: flex;
	gap: 30px;
}

.contact form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 50px;
}